body, html {
    background-color: #333;
    background: #fff;
    font-size: 15px;
    line-height: 1.7em;
}

.container {
    width: 700px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0;
}

.title {
    border-bottom: thin solid #E9E7E7;
    font-family: 'Raleway', sans-serif;
}
.title h1 {
    margin: 13px 0;
    padding: 13px 0;
    font-size: 37px;
}

.description {
    margin: 30px 0;
    font-family: 'Raleway', sans-serif;
}

.chart {
    width: 700px;
    height: 650px;
}

