body, html {
    background-color: #333;
    background: url('congruent_outline.png');
}

.container {
    width: 850px;
    border: thin solid #C0BEBE;
    border-radius: 3px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 2px 2px 5px #000;
}

.title {
    text-align: center;
    /*padding: 3% 0;*/
    /*margin-bottom: 5%;*/
    border-bottom: thin solid #E9E7E7;
    /*width: 100%;*/
    /*font-family: Garamond;*/
}
.title h1 {
    margin: 13px 0;
    font-size: 30px;
}

.description {
    width: 450px;
    margin: 30px auto;
}

.chart {
    width: 800px;
    height: 125px;
    position: relative;
    padding: 2%;
}

