body, html {
    background-color: #333;
    background: url('congruent_outline.png');
}

.container {
    width: 900px;
    border: thin solid #C0BEBE;
    border-radius: 3px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 2px 2px 5px #000;
}

.title {
    text-align: center;
    /*padding: 3% 0;*/
    /*margin-bottom: 5%;*/
    border-bottom: thin solid #E9E7E7;
    /*width: 100%;*/
    font-family: 'Raleway', sans-serif;
}
.title h1 {
    margin: 13px 0;
    font-size: 30px;
}

.description {
    margin: 30px auto;
    padding: 10px 100px;
    font-family: 'Raleway', sans-serif;
}

.chart {
    width: 840px;
    height: 650px;
    margin: 0 15px;
    /*position: relative;*/
}

